h1 {
  text-align: center;
}

div {
  margin: 0 auto;
  text-align: center;
  display: block;
}

button {
  display: inline-block;
}

.gridBox {
  height: 140px;
  width: 140px;
  vertical-align: top;
}