body {
  background: url("pictures/giphy.gif") no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
}

div {
  margin: 0 auto;
  text-align: center;
  display: block;
}

button {
  display: inline-block;
  text-align: center;
  opacity: 100;
}

.gridBox {
  height: 120px;
  width: 140px;
  vertical-align: top;
  background-position: center;
  background-color: rgba(200, 200, 200, 0.2);
}

.wrapper {
  margin-top: 12%;
  margin-left: auto;
  margin-right: auto;
}

.animated { 
    -webkit-animation-duration: 2s; 
    animation-duration: 3s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in; 
    animation-timing-function: ease-in; 
} 

@-webkit-keyframes bounceInLeft { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(-2000px); 
    } 
    60% { 
        opacity: 1; 
        -webkit-transform: translateX(30px); 
    } 
    80% { 
        -webkit-transform: translateX(-10px); 
    } 
    100% { 
        -webkit-transform: translateX(0); 
    } 
} 

@keyframes bounceInLeft { 
    0% { 
        opacity: 0; 
        transform: translateX(-2000px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateX(30px); 
    } 
    80% { 
        transform: translateX(-10px); 
    } 
    100% { 
        transform: translateX(0); 
    } 
}

.Reset {

}