body {
  background: url("pictures/giphy.gif") no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  
}

div {
  margin: 0 auto;
  text-align: center;
  display: block;
}

button {
  display: inline-block;
  text-align: center;
}

.gridBox {
  height: 140px;
  width: 140px;
  vertical-align: top;
}

.wrapper {
  opacity: 0.4;
}
